:root {
  --color-primary: white;
  --color-secondary: #0f3359;
  --color-font: #ffffff;
  /*--color-shadow: #0e061c;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1280px;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #0f3359, #c2c2c2);
}

header {
  background-color: var(--color-secondary);
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
  padding: 40px 10px;
  text-align: center;
  color: var(--color-font);
}

header p {
  margin: 20px auto;
}

.logo {
  width: 20%;
  height: auto;
}

h1 {
  font-size: 50px;
}

#cityForm {
  text-align: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
}

#cityForm_form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cityForm_form input,
#cityForm_form select {
  min-width: 280px;
  /* width: 80%; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#validationButton {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#validationButton:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

#communeSelect {
  display: none;
  margin-top: 10px;
  padding: 5px;
  z-index: 999;
}

#code-postal {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#weatherInformation {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
}

#weatherInformation div {
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

#weatherDetails p {
  margin-bottom: 15px;
}

.espacement-intro {
  margin-bottom: 15px;
}

.info_meteo {
  display: flex;
  flex-direction: column;
}

.reloadButton { /**/
  width: 280px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.reloadButton:hover {
  background-color: white;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
/*-----Les_coordonnées*/
#coordonnees {
  display: block !important;
  background: #e0f7fa !important;
  color: black !important;
  border: 2px solid #e0f7fa !important;
  border-radius: 5px !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  text-align: left !important;
}

#coordonnees p {
  color: black !important;
}

#weatherInformation #coordonnees {
  display: block !important;
  background: #e0f7fa !important;
  color: black !important;
  border: 2px solid #e0f7fa !important;
  border-radius: 5px !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}
#weatherInformation #coordonnees p {
  color: black !important;
}


/*-----------------Les Options-------------------------------*/
fieldset {
  margin: 10px 40px 10px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 2px;
  border-radius: 10px;
  background-color:#0f3359;
}
.option_choix {
  background-color: white;
  border-radius: 10px;
  margin: 2px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/*-----------------donnée_1_jour-----------------*/
.info_météo_rangement {
  margin-top: 5px ;
}

/*--------------------tableau-------------------*/
.weatherContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 2px solid #007BFF;
  background-color: #f8f9fa;
  width: 100%; /* Assure que le tableau prend toute la largeur */
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
  max-width: 100%; 
  white-space: nowrap;
}

.weatherRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.weatherCell {
  font-size: 1.2vw;
  min-width: 120px;
  text-align: center;
  margin: 0;
  border: 1px solid white;
}

.labelCell {
    font-weight: bold;
    background-color: #007BFF;
    color: white;
}

.headerCell {
    font-weight: bold;
    background-color: #0056b3;
    color: white;
}
 
.weatherRow.headerRow {
  display: flex !important;
  flex-direction: row !important; 
  justify-content: space-around; 
  align-items: center; 
}

.weatherRow {
  display: flex !important;
  flex-direction: row !important;  
  justify-content: space-around; 
  align-items: center; 
}

/* ------------------- MEDIA QUERIES ----------------------- */

@media screen and (max-width: 1024px) {
  #weatherInformation {
    flex-wrap: wrap;
  }
  .weatherCell {
    font-size: 14px;
  }

}

@media screen and (max-width: 425px) {
  #cityForm {
    width: 95%;
    margin: 8px auto;
  }
}
