:root {
  --color-primary: white;
  --color-secondary: #0f3359;
  --color-font: #ffffff;
  /*--color-shadow: #0e061c;*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1280px;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #0f3359, #c2c2c2);
  margin: 0 auto;
}

header {
  background-color: var(--color-secondary);
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
  padding: 40px 10px;
  text-align: center;
  color: var(--color-font);
}

header p {
  margin: 20px auto;
}

.logo {
  width: 20%;
  height: auto;
}

h1 {
  font-size: 50px;
}

#cityForm {
  text-align: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
}

#cityForm_form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#validationButton {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#validationButton:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

#communeSelect {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  z-index: 999;
}

#postal-code {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#weatherInformation {
  display: none;
  justify-content: space-between;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
}

#weatherInformation div {
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

#weatherDetails p {
  margin-bottom: 15px;
}

.distance-intro {
  margin-bottom: 15px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------Bouton------------*/
.reloadButton, #returnButton {
  max-width: 280px;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.reloadButton:hover, #returnButton:hover {
  background-color: white;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
/*-----Les_coordonnées--------------*/
#coordinate {
  display: none;
  background-color: var(--color-secondary);
  color: var(--color-font);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px;
  margin: 5px auto;
}

#coordinate p {
  color: white !important;
}

#weatherInformation #coordinate {
  display: block !important;
  border-radius: 5px !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

/*-----------------Les Options-------------------------------*/
fieldset {
  margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 2px;
  border-radius: 10px;
  background-color:#0f3359;
}
.choice_option {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.text_choice {
  margin-right: 5px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/*-----------------donnée_1_jour-----------------*/
.organization_weather_info {
  margin-top: 5px ;
}

/*--------------------tableau-------------------*/
.weatherContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
  max-width: 100%; 
  white-space: nowrap;
}

.weatherRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.weatherCell {
  min-width: 120px;
  text-align: center;
  margin: 0;
  border: 1px solid white;
}

.labelCell {
    font-weight: bold;
    background-color: #007BFF;
    color: white;
}

.headerCell {
    font-weight: bold;
    background-color: #0056b3;
    color: white;
}
 
.weatherRow.headerRow {
  display: flex !important;
  flex-direction: row !important; 
  justify-content: space-around; 
  align-items: center; 
}

.weatherRow {
  display: flex !important;
  flex-direction: row !important;  
  justify-content: space-around; 
  align-items: center; 
}
/*---------------graphique-----------------*/
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  padding: 0 0 20px 0;
  margin-top: 10px;
}

.chart-click {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font: bolder;
  margin-bottom: 5px;
}

canvas {
  margin: 0 !important;
}

.chart canvas {
  width: 75% !important;
  max-width: 900px;
  min-width: 200px;
  height: 300px;
  margin: 0 5px 0 15px;
  display: block;
  box-sizing: border-box;
}

/* ------------------- MEDIA QUERIES ----------------------- */
@media screen and (max-width: 600px) {
  .chart canvas {
    width: 98% !important;
    min-width: 0;
  }
}

@media screen and (max-width: 425px) {
  #cityForm {
    margin: 1px auto;
    align-items: center;
  }
  .fieldset {
    padding-top: 0;
    padding-bottom: 0;
  }
  .chart canvas {
    height: 400px !important;
  }
}